{% extends 'base.html.twig' %}

{% block body %}
    <!-- 右侧内容框架，更改从这里开始 -->
    <blockquote class="layui-elem-quote">
        欢迎来到梦起源服务器管理端页面！
    </blockquote>
    <blockquote class="layui-elem-quote">
        版权保留：欢迎使用x-admin 后台模版！<span class="f-14">v1.0</span>
    </blockquote>
{{ dump(app.request) }}
    <table class="layui-table">
        <thead>
        <tr>
            <th colspan="2" scope="col">服务器信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>服务器IP地址</td>
            <td>{{ app.request.server.get('SERVER_ADDR') }}</td>
        </tr>
        <tr>
            <td>服务器域名</td>
            <td>{{ app.request.server.get('SERVER_NAME') }}</td>
        </tr>
        <tr>
            <td>服务器端口 </td>
            <td>{{ app.request.server.get('SERVER_PORT') }}</td>
        </tr>
        <tr>
            <td>服务器nginx版本 </td>
            <td>{{ app.request.server.get('SERVER_SERVER_SOFTWARE') }}</td>
        </tr>
        <tr>
            <td>本文件所在文件夹 </td>
            <td>{{ app.request.server.get('DOCUMENT_ROOT') }}</td>
        </tr>
        <tr>
            <td>服务器操作系统 </td>
            <td></td>
        </tr>
        <tr>
            <td>服务器上次启动到现在已运行 </td>
            <td>7210分钟</td>
        </tr>
        <tr>
            <td>CPU 总数 </td>
            <td>4</td>
        </tr>
        <tr>
            <td>CPU 类型 </td>
            <td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
        </tr>
        <tr>
            <td>虚拟内存 </td>
            <td>52480M</td>
        </tr>
        <tr>
            <td>当前程序占用内存 </td>
            <td>3.29M</td>
        </tr>
        </tbody>
    </table>
{% endblock %}