<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MineCraft-梦起源-后台管理系统{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('xadmin/css/font.css') }}">
            <link rel="stylesheet" href="{{ asset('xadmin/css/xadmin.css') }}">
            <link rel="stylesheet" href="{{ asset('xadmin/lib/layui/css/modules/layer/default/layer.css') }}">
            <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block css %}
        {% endblock %}

    </head>
    <body>
    {% block all_body %}
        {% if app.request.get('_route') != 'auth_login_index' %}
            {% block nav_content %}
                <!-- 顶部开始 -->
                <div class="container">
                    <div class="logo"><a href="./index.html">MineCraft-梦起源</a></div>
                    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
                    <ul class="layui-nav right" lay-filter="">
                        <li class="layui-nav-item">
                            <a href="javascript:;">{{ app.user.username }}</a>
                            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                                <dd><a href="{{ path('auth_login_logout') }}">退出</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a href="/">前台首页</a></li>
                    </ul>
                </div>
                <!-- 顶部结束 -->

                <div class="wrapper">

                    {% include  "default/menu.html.twig" %}

                    <div class="page-content">
                        <div class="content">
                            {% block body %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        {% block loginbody %}

        {% endblock %}
    {% endblock %}



        {% block javascripts %}
            <script src="{{ asset('xadmin/lib/layui/layui.js') }}" charset="utf-8"></script>
            <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('xadmin/js/xadmin.js') }}"></script>
            <script src="{{ asset('public/layer/layer.js') }}"></script>
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>
