{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('xadmin/css/font.css') }}">
    <link rel="stylesheet" href="{{ asset('xadmin/css/xadmin.css') }}">
{% endblock %}

{% block body %}
    <body class="login-bg">
        <div class="login layui-anim layui-anim-up">
            <div class="message">MineCraft-梦起源-管理登录</div>
            <div id="darkbannerwrap"></div>
            {% if error %}
                <div class="form-group">
                    <div class="alert alert-red">
                        <span class="close rotate-hover"></span>
                        <span>{{ error.messageKey|trans(error.messageData) }}</span>
                    </div>
                </div>
            {% endif %}
            <form action="{{ path('auth_login_check') }}" method="post" class="layui-form" >
                <input name="_username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
                <br>
                <input name="_password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
                <br>
                <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
                <br >
            </form>
        </div>
    </body>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('xadmin/lib/layui/layui.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('xadmin/js/xadmin.js') }}"></script>
    <script>
        // $(function  () {
        //     layui.use('form', function(){
        //         var form = layui.form;
        //         // layer.msg('玩命卖萌中', function(){
        //         //   //关闭后的操作
        //         //   });
        //         //监听提交
        //         form.on('submit(login)', function(data){
        //             // alert(888)
        //             layer.msg(JSON.stringify(data.field),function(){
        //                 location.href='index.html'
        //             });
        //             return false;
        //         });
        //     });
        // })


    </script>
    <!-- 底部结束 -->
{% endblock %}