<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}MineCraft-{{ minecraft_name }}纯净服务器{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('home/css/stylesheet.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    {% block css %}
    {% endblock %}

</head>
<body>
<div class="container">
    <header>
        <div class="header">
            <div class="logo">
                <!-- In the img folder, upload your logo. -->
                <!-- Make sure to name it 'logo.png'! -->
                <a href="/"><img src="{{ asset('home/img/logo.png') }}" alt="{{ minecraft_name }}Logo"></a>
            </div>

            <ul class="nav">
                <li><a href="{{ path('web_homepage') }}">主页</a></li>
                <li><a onclick="alert('开发中......')" href="#">论坛</a></li>
                <li><a onclick="alert('开发中......')" href="#">赞助</a></li>
                <li><a href="{{ path('web_staff_index') }}">团队</a></li>
            </ul>
        </div>
        {% if app.request.get('_route') != 'web_staff_index' %}
            <h1 class="animate">欢迎来到{{ minecraft_name }}服务器！</h1>
            <div class="playercount">
                <!-- Replace play.myserver.net with your IP address! -->
                <!-- Make sure to do it for both examples below. -->
                <p><span>服务器地址:mc.mengqy.cn:12345</span>当前服务器总注册人数： <span data-playercounter-ip="mc.mengqy.cn:12345">
				0</span> </p>
            </div>
        {% endif %}
    </header>

    {% block body %}

    {% endblock %}


    <footer>
        <p>Copyright &copy; MyServer 2019</p>
        <!-- Remove this part below if you want! -->
        <p style="padding-right: 30px;">Created <a href="javascript:;" target="_blank">皓月</a></p>
    </footer>

</div>




{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="{{ asset('home/js/main.js') }}" type="text/javascript"></script>
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>
